$color-primary: #78909c;
$color-additional: rgba(55, 71, 79, 1);
$color-seach: rgba(224, 224, 224, 1);
$color-background: #F5F5F5;
$color-button: rgba(207, 216, 220, 1);
$color-logo: rgba(30, 136, 229, 1);
$color-border: rgba(161, 177, 194, 1);
$color-line: rgba(188, 199, 211, 1);
$color-white: #fff;
$color-link: #DF468E;

// @media
$content-width: 1170px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;