@font-face {
  font-family: 'AvenirNextLTPro-Regular';
  src: url("../fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  src: url('../fonts/AvenirNextLTPro-Regular.woff2') format('woff2'),
  url('../fonts/AvenirNextLTPro-Regular.woff') format('woff'),
  url('../fonts/AvenirNextLTPro-Regular.ttf') format('truetype');  
}

